* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('Images/Background.jpg') ;
}

.buttons {
    display: flex;
    justify-content: center;

    
}

.rock {
    height: 200px;
    width: 300px;

}

.paper {

    padding-left: 80px;
}

.scissors {
    height: 230px;
    padding-left: 85px;;
    
}

.scoreboard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    font-family: 'Permanent Marker', cursive;
}

.score {
    font-size: 35px;
    

}
.declareW {
    font-size: 25px;
    
}

.state {
    font-size: 24px;
}

.computerOpt {
    font-size: 20px;
}